<div class="row w-100 inbox">
    <label>Inbox :</label>
    <div class="col">
        <div class="form-check">
            <input type="checkbox" class="btn-check" id="btn-check-m-read" value="markAsRead" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn-check-m-read">Mark As
                Read</label><br>
        </div>
        <div class="form-check">
            <input type="checkbox" class="btn-check" id="btn-check-d-inbox" value="deleteInbox" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn-check-d-inbox">Delete
                Inbox</label><br>
        </div>
        <div class="form-check">
            <input type="checkbox" class="btn-check" id="btn-check-m-spam" value="markAsSpam" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn-check-m-spam">Mark As
                Spam</label><br>
        </div>
    </div>
    <div class="col">
        <div class="form-check">
            <input type="checkbox" class="btn-check" id="btn-check-m-imp" value="markAsImportant" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn-check-m-imp">Mark As
                Important</label><br>
        </div>
        <div class="form-check">
            <input type="checkbox" class="btn-check" id="btn-check-c-link" value="clickLink" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn-check-c-link">Click
                Link</label><br>
        </div>
        <div class="form-check">
            <input type="checkbox" class="btn-check" id="btn-check-m-started" value="markAsStarted" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn-check-m-started">Mark As
                Started</label><br>
        </div>
    </div>
    <div class="col">
        <div class="form-check">
            <input type="checkbox" class="btn-check" id="btn-check-m-archive" value="markAsArchive" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn-check-m-archive">Archive</label><br>
        </div>
        <div class="form-check">
            <input type="checkbox" class="btn-check" id="btn-check-m-unread" value="markAsUnread" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn-check-m-unread">Mark As
                Unread</label><br>
        </div>
        <div class="form-check">
            <input type="checkbox" class="btn-check" id="btn-check-open" value="open" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn-check-open">Open</label><br>
        </div>
    </div>
</div>
<div class="row w-100 spam">
    <label>Spam :</label>
    <div class="col">
        <div class="form-check">
            <input type="checkbox" class="btn-check" id="btn-check-n-spam" value="notSpam" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn-check-n-spam">Not
                Spam</label><br>
        </div>
        <div class="form-check">
            <input type="checkbox" class="btn-check" id="btn-check-o-spam" value="openSpam" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn-check-o-spam">Open
                Spam</label><br>
        </div>
    </div>
    <div class="col">
        <div class="form-check">
            <input type="checkbox" class="btn-check" id="btn-check-d-spam" value="deleteSpam" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn-check-d-spam">Delete
                Spam</label><br>
        </div>
        <div class="form-check">
            <input type="checkbox" class="btn-check" id="btn-check-c-spam" value="clickSpam" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn-check-c-spam">Click
                Spam</label><br>
        </div>
    </div>
    <div class="col">
        <div class="form-check">
            <input type="checkbox" class="btn-check" id="btn-check-n-spamT" value="notSpamThis" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn-check-n-spamT">Not Spam
                Only</label><br>
        </div>
    </div>
</div>
<div class="row w-100 others">
    <label>Others</label>
    <div class="col">
        <div class="form-check">
            <input type="checkbox" class="btn-check" id="btn-check-proxy" value="checkProxy" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn-check-proxy">Check
                proxy</label><br>
        </div>
        <div class="form-check">
            <input type="checkbox" class="btn-check" id="btn-check-verify" value="verify" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn-check-verify">Verify</label><br>
        </div>
    </div>
</div>