.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 0;
}

.mailbox-widget .custom-tab .nav-item .nav-link {
  border: 0;
  color: #fff;
  border-bottom: 3px solid transparent;
}

.mailbox-widget .custom-tab .nav-item .nav-link.active {
  background: 0 0;
  color: #fff;
  border-bottom: 3px solid #2cd07e;
}

.no-wrap td,
.no-wrap th {
  white-space: nowrap;
}

.table td,
.table th {
  padding: 0.9375rem 0.4rem;
  vertical-align: top;
  border-top: 1px solid rgba(120, 130, 140, 0.13);
}

.font-light {
  font-weight: 300;
}

.fa-plus {
  pointer-events: none;
}

.fa-check {
  pointer-events: none;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.fa-eye {
  pointer-events: none;
}

.fa-edit {
  pointer-events: none;
}

.fa-trash-alt {
  pointer-events: none;
}

.fa-play {
  pointer-events: none;
}

.fa-stop {
  pointer-events: none;
}

.fa-pause {
  pointer-events: none;
}

i.fa-power-off {
  pointer-events: none;
}

i.fa-redo {
  pointer-events: none;
}

.seeds-page {
  cursor: pointer;
}

.modal-xl {
  width: 90%;
  max-width: 1400px;
}

.b-action {
  border: 1px solid orange;
  background-color: #ffa50029;
}

.f-action {
  border: 1px solid green;
  background-color: rgba(0, 128, 0, 0.2);
}

.fr-action {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.2);
}

#fullpage {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 1200px) {
  .modal-xl {
    --bs-modal-width: 1400px;
  }
}

#sqlCreateTable {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  color: #fff;
  background-color: black;
  font-size: 16px;
}

#sqlCreateTable::placeholder {
  color: #fff;
}

ul.ui-autocomplete {
  z-index: 1100;
}

.custom-control-input:focus~.custom-control-label::before {
  border-color: green !important;
  box-shadow: 0 0 0 0.2rem rgb(122, 255, 122) !important;
}

.custom-control-input:checked~.custom-control-label::before {
  border-color: green !important;
  background-color: green !important;
}

.custom-control-input:active~.custom-control-label::before {
  background-color: green !important;
  border-color: green !important;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
  border-color: green !important;
}

.custom-control-input-green:not(:disabled):active~.custom-control-label::before {
  background-color: green !important;
  border-color: green !important;
}