.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 0;
}

.mailbox-widget .custom-tab .nav-item .nav-link {
  border: 0;
  color: #fff;
  border-bottom: 3px solid transparent;
}

.mailbox-widget .custom-tab .nav-item .nav-link.active {
  background: 0 0;
  color: #fff;
  border-bottom: 3px solid #2cd07e;
}

.no-wrap td,
.no-wrap th {
  white-space: nowrap;
}

.table td,
.table th {
  padding: 0.9375rem 0.4rem;
  vertical-align: top;
  border-top: 1px solid rgba(120, 130, 140, 0.13);
}

.font-light {
  font-weight: 300;
}


.fa-eye {
  pointer-events: none;
}

.fa-edit {
  pointer-events: none;
}

.fa-trash-alt {
  pointer-events: none;
}

.fa-play {
  pointer-events: none;
}

.fa-stop {
  pointer-events: none;
}

.fa-pause {
  pointer-events: none;
}

i.reset {
  pointer-events: none;
}

.seeds-page {
  cursor: pointer;
}

.modal-xl {
  width: 90%;
  max-width: 1400px;
}

#fullpage {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 1200px) {
  .modal-xl {
    --bs-modal-width: 1400px;
  }
}