.fa-eye {
  pointer-events: none;
}

.fa-edit {
  pointer-events: none;
}

.fa-trash-alt {
  pointer-events: none;
}

.modal-xl {
  width: 90%;
  max-width: 1400px;
}

@media (min-width: 1200px) {
  .modal-xl {
    --bs-modal-width: 1400px;
  }
}

mark {
  background-color: rgba(255, 0, 0, 0.5);
  color: black;
  font-weight: bold;
}

.fa-plus {
  pointer-events: none;
}

.fa-check {
  pointer-events: none;
}

.fa-eye {
  pointer-events: none;
}

.fa-edit {
  pointer-events: none;
}

.fa-trash-alt {
  pointer-events: none;
}

.fa-play {
  pointer-events: none;
}

.fa-stop {
  pointer-events: none;
}

.fa-pause {
  pointer-events: none;
}

i.fa-power-off {
  pointer-events: none;
}

i.fa-redo {
  pointer-events: none;
}